.photo {
	overflow: hidden;
	position: relative;
	@include set-cover('../images/home.jpg');
	height: 200px;
	.in {
		width: 900px;
		position: relative;
		display: block;
		margin: 0 auto;
		.logo {
		  	display: inline-block;
		  	position: relative;
		  	width: 130px;
		  	padding-top: 40px;
		}
		h1 {
			font-family: akzidenzgroteskregular;
			font-size: 22px;
			text-transform: uppercase;
			color: #7EBE6B;
			padding-top: 30px;
		}
	}
}
.cond {
	width: 900px;
	position: relative;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
	ul {
		list-style: none;
		h2 {
			font-family: akzidenzgroteskregular;
			font-size: 16px;
			text-transform: uppercase;
			color: #2E2D39;
			padding-bottom: 10px;
			padding-top: 30px;
		}
		li {
			color: #6D6D75;
			font-family: akzidenzgroteskregular;
			font-size: 16px;
			line-height: 20px;
		}
	}
}